.vscode
/remote-rocksdb/*

!/remote-rocksdb/lib/
/remote-rocksdb/lib/librocksdb.a

!/remote-rocksdb/include/
/remote-rocksdb/include/rocksdb/*
!/remote-rocksdb/include/rocksdb/db.h
!/remote-rocksdb/include/rocksdb/slice.h
!/remote-rocksdb/include/rocksdb/options.h

!/remote-rocksdb/src/

rubble_modified/*
!rubble_modified/helper.sh
!rubble_modified/setup-rubble.sh
!rubble_modified/setup-nvmeof.sh
!rubble_modified/setup.sh